<h2>New Tutorial</h2>
<div data-controller="videos">
  <%= link_to "Import Youtube Playlist", "#", "data-action" => "click->videos#showPlaylistForm", class: "video-position-submit btn btn-outline"%>
  -or-
  <%= link_to "Add Videos Individually", "#", "data-action" => "click->videos#showTutorialForm", class: "video-position-submit btn btn-outline"%>
</div>

<div class="mt1" id="new-playlist-form">
  <h3>New YouTube Video Playlist</h3>
  <%= form_for [:admin, @tutorial] do |f| %>
    <%= f.label "Playlist ID", class: "block" %>
    <%= f.text_field :playlist_id, class: "field block"%>

    <%= f.submit "Create Playlist", class: "mt1 btn btn-primary bg-teal"  %>
  <% end %>
</div>

<div class="mt1" id="new-tutorial-form">
  <h3>Enter Tutorial Information</h3>
  <%= form_for [:admin, @tutorial] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "block col-4 field" %>
    <%= f.label :description %>
    <%= f.text_area :description, class: "block col-4 field"  %>
    <%= f.label :thumbnail %>
    <%= f.text_field :thumbnail, class: "block col-4 field"  %>

    <%= f.submit "Save", class: "mt1 btn btn-primary bg-teal"  %>
  <% end %>
</div>
