<section>
  <h1>Your Github:</h1>
  <h3>Repositories:</h3>
  <ul>
    <% @user_facade.repos.each do |repo| %>
      <li class="repo"><%= link_to(repo.name, repo.url) %></li>
    <% end %>
  </ul>

  <h3>Followers:</h3>
  <%= render partial: "github_relations", locals: {relations: @user_facade.followers} %>

  <h3>Following:</h3>
  <%= render partial: "github_relations", locals: {relations: @user_facade.followings} %>

  <h3>Friends on our site:</h3>
  <ul id="friendships">
    <% @user_facade.updated_friends.each do |friend| %>
    <li class="friend" id="friend-<%= friend.github_uid %>">
       <%= "#{friend.first_name} #{friend.last_name}" %>
    </li>
    <% end %>
  </ul>

  <%= link_to 'Send an Invite', invite_path, class: "mt2 btn btn-primary mb1 bg-teal" %>

</section>
