<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <section>
    <h1>Bookmarked Segments</h1>
    <% if !current_user.github_token.nil? %>
      <section id='bookmarked-segments'>
        <% facade.bookmarked_videos.each_with_index do |video, i| %>
          <section id='video-<% i + 1 %>'>
            <%= link_to video.title, tutorial_path(video_id: video.id, id: video.tutorial_id), class: "show-link" %>
          </section>
        <% end %>
      </section>
    <% end %>
  </section>

  <% if !current_user.github_token.nil? %>
    <section id='github'>
      <h2>GitHub</h2>
      <h4>Repositories</h4>
      <% facade.repos.each_with_index do |repo, i| %>
        <section id="repo-<%= i + 1 %>">
          <p><%= link_to repo.name, repo.link %></p>
        </section>
      <% end %>

      <section id="followers">
        <h4>Followers</h4>
        <% facade.followers.each_with_index do |follower, i| %>
          <section id="follower-<%= i + 1 %>">
            <p> <%= link_to follower.name, follower.link %>
            <% if current_user.friendships.find_by(github_username: follower.name) %> - friends
              <% elsif facade.all_users.include?(follower.name)  %>  -
                <%= button_to "Add Friend", friend_path(follower.name), method: :patch %>
            <% end %>
            </p>
          </section>
        <% end %>
      </section>

      <section id="following">
        <h4>Following</h4>
        <% facade.following.each_with_index do |following, i| %>
          <section id="following-<%= i + 1 %>">
            <p> <%= link_to following.name, following.link %>
            <% if current_user.friendships.find_by(github_username: following.name) %> - friends
              <% elsif facade.all_users.include?(following.name) %>  -
                <%= button_to "Add Friend", friend_path(following.name), method: :patch %>
            <% end %>
            </p>
          </section>
        <% end %>
      </section>

        <% if !current_user.friendships.empty? %>
        <section id="friends">
          <h4>Friends</h4>
          <% current_user.friendships.each do |friend, i| %>
            <section id="friend-<%= friend.id %>">
              <p> <%= friend.github_username %>
              </p>
            </section>
          <% end %>
        </section>
        <% end %>
    </section>

  <% else %>
    <%= link_to "Connect To Github", github_login_path %>
  <% end %>
</section>
