<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
    <% if github_status && current_user.token %>
    <h1>Github Details:</h1>
      <h2>Personal Repos:</h2>
      <% github_result.display_repos.each do |repo| %>
      <section class="repos">
      <p class="name"><%= link_to repo.name, repo.url%></p>
      </section><br>
      <% end %>
  <section>
      <h2>Following On Github</h2>
      <% github_result.display_following.each do |following| %>
        <section class="following">
          <p class="name"><%= link_to following.name, following.url%></p>
        </section>
      <% end %>
        <h2>Followers On Github</h2>
        <% github_result.display_followers.each do |follower| %>
          <section class='followers'>
            <p class='name'><%= link_to follower.name, follower.url %></p>
          </section>
        <% end %>
    <% else %>
      <%=button_to 'Connect To Github', github_login_path, method: :get, class: "mt2 btn btn-primary mb1 bg-teal" %>
    <% end %>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
