<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <section class="invite">
    <%= button_to 'Send an Invite', invite_path, method: :get %>
  </section>

  <section id="bookmarks">
    <%= render partial: facade.bookmark_segment, locals: {facade: facade}%>
  </section>

  <section id="github">
    <%= render partial: facade.render_github, locals: {facade: facade} %>
  </section>
