<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if current_user.github_key %>
    <section class="github">
      <h1>Github</h1>
      <div class="repositories">
        <h2>Your Repositories</h2>
        <% @repos.each do |r| %>
          <div class="repository">
            <%= link_to(r.name, r.html_url) %>
          </div>
        <% end %>
        <% if @followers %>
          <div class="followers">
            <h2>Your Followers</h2>
            <% @followers.each do |f| %>
              <div class="follower">
                <%= link_to(f.login, f.html_url) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</section>
