<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <section class="github-repos">
    <h3>Github</h3>
    <% facade.repos(5).each do |repo| %>
      <ul>
        <li class="repo">
          <%= link_to repo.name, repo.html_url  %>
        </li>
      </ul>
    <% end %>

  </section>

  <section class="github-followers">
    <h3>Followers</h3>
    <% facade.followers.each do |follower| %>
      <ul>
        <li class="follower">
          <%= link_to follower.login, follower.html_url %>
        </li>
      </ul>
    <% end %>
  </section>

</section>
