<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <h3>Account Details</h3>
    <ul>
      <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
      <li> <%= current_user.email%> </li>
    </ul>

  <section>
    <h1>Bookmarked Segments</h1>
  </section>

	<% if session[:github_id].nil? %>
		<%= button_to 'Connect to Github', github_login_path, method: :get, class: "btn btn-primary mb1 bg-teal" %>
	<% else %>

	<% unless github_token.nil? %>
	  <section>
	    <h1>GitHub</h1>

			<section><h3>Repositories</h3>
				<% repos_facade.repositories.each do |repository| %>
					<ul class="repository">
						<li class="name" id="repository-#{repository.name}"><%= repository.name %></li>
					</ul>
				<% end %>
			</section>

			<section><h3>Followers</h3>
				<% followers_facade.followers.each do |follower| %>
					<ul class="follower">
						<li class="handle" id="follower-#{follower.login}"><%= follower.login %></li>
					</ul>
				<% end %>
			</section>

			<section><h3>Following</h3>
				<% following_facade.following.each do |following| %>
					<ul class="following">
						<li class="handle" id="following-#{following.login}"><%= following.login %></li>
					</ul>
				<% end %>
			</section>
			<% end %>
  	</section>
	<% end %>

</section>
