<section class="dashboard-main">
  <h1> <%= @user_facade.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%= link_to 'Send an Invite', invite_path, class: "mt2 btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= @user_facade.first_name  %> <%= @user_facade.last_name %> </li>
    <li> <%= @user_facade.email%> </li>
    <li> Status: <%= @user_facade.email_activation_status.titleize %> </li>
  </ul>

  <%= render partial: "bookmarked_segments" %>

  <% if @user_facade.has_github? %>
    <%= render partial: "github" %>
  <% else %>
    <%= link_to 'Connect Your Github', github_login_path, class: "mt2 btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
