<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if @user.token %>
    <section class="github">
      <h2>Github Repositories</h2>
      <% search_results.repos.each do |repo| %>
        <section class="repos">
          <%= link_to repo.name, repo.link %>
        </section>
      <% end %>

      <h2>Followers</h2>
      <% search_results.followers.each do |follower| %>
        <section  class = "followers">
          <%= link_to follower.name, follower.link %>
          <% if User.has_handle?(follower.name) %>
            <%= link_to "Add as Friend" %>
          <% end %>
        </section>
      <% end %>

        <h1>Following</h1>
        <% search_results.following.each do |following| %>
        <section class="following">
            <%= link_to following.name, following.link %>
            <% if User.has_handle?(following.name) %>
              <%= link_to "Add as Friend" %>
            <% end %>
          </section>
        <% end %>
    </section>
  <% else %>
  <%= link_to "Login Through Github", github_login_path %>
  <% end %>
</section>
