<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if @facade %>
    <section class="github">
      <h2>Github</h2>
      <ul>
        <% @facade.repos(5).each do |repo| %>
          <li class="repository">
            <%= link_to repo.name, repo.html_url, class: "name-link" %>
          </li>
        <% end %>
      </ul>
      <h3>Followers</h3>
      <ul>
        <% @facade.followers.each do |follower| %>
          <li class="follower">
            <%= link_to follower.login, follower.html_url, class: "handle-link" %>
            <% if follower.user %>
              <%= link_to 'Add as Friend', friendships_path(friend: follower.user), method: :post, class: "btn btn-primary mb1 bg-teal" %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <h3>Following</h3>
      <ul>
        <% @facade.following.each do |following| %>
          <li class="following">
            <%= link_to following.login, following.html_url, class: "handle-link" %>
            <% if following.user %>
              <%= link_to 'Add as Friend', friendships_path(friend: following.user), method: :post, class: "btn btn-primary mb1 bg-teal" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <% if current_user.friends? %>
    <section class="friends">
      <h2>Friends</h2>
      <% current_user.friends.each do |friend| %>
        <%= friend.first_name + ' ' + friend.last_name %>
      <% end %>
    </section>
  <% end %>
</section>
