<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <!-- Bookmarks -->
  <section class="bookmark-tutorials">
    <h1>Bookmarked Segments</h1>
    <% current_user.my_tutorials.each do |tutorial| %>
      <section id="tutorial_<%=tutorial.id%>">
        <h3><%= tutorial.title %></h3>
          <% current_user.my_tutorial_videos(tutorial).each do |video| %>
          <li id="video_<%= video.id %>"> <%= video.title %></li>
        <% end %>
      </section>
    <% end %>
  </section>

  <!-- Github Data -->
  <% if current_user.github_token? %>
  <section id="user_github">
    <h1>GitHub</h1>
    <section class="user_github_repos">
      <h3>Repositories</h3>
      <ul>
        <% github_facade.repos.each do |repo| %>
          <li class="name"><%= repo.name %></li>
        <% end %>
      </ul>
    </section>
    <section class="user_github_followers">
      <h3>Followers</h3>
      <ul>
        <% github_facade.followers.each do |follower| %>
        <section class="follower">
          <section class="follower_handle_<%= follower.handle %>"
            <li id="follower_handle"><%= link_to(follower.handle, follower.url) %></li>
            <% if User.is_user?(follower.uid) && follower.not_a_friend?(current_user.id) %>
              <%= button_to 'Add Friend', friendships_path(friend_github_uid: follower.uid), method: 'create', class: "btn btn-primary mb1 bg-teal" %>
            <% end %>
          </section>
        </section>
        <% end %>
      </ul>
    </section>
    <section class="user_github_following">
      <h3>Following</h3>
      <ul>
        <% github_facade.following.each do |following| %>
        <section class="following">
          <section class="following_handle_<%= following.handle %>"
            <li id="following_handle"><%= link_to(following.handle, following.url) %></li>
            <% if User.is_user?(following.uid) && following.not_a_friend?(current_user.id) %>
              <%= button_to 'Add Friend', friendships_path(friend_github_uid: following.uid), method: 'create', class: "btn btn-primary mb1 bg-teal" %>
            <% end %>
          </section>
        </section>
        <% end %>
      </ul>
    </section>

    <!-- My Friends -->
    <% if current_user.has_friends? %>
      <section class="my_friends">
        <h3>My Friends</h3>
        <ul>
          <% current_user.get_friend_users.each do |friend| %>
          <section class="friend">
            <section class="friend_handle_<%= friend.github_handle %>"
              <li id="friend_handle"><%= link_to(friend.github_handle, friend.github_url) %></li>
            </section>
          </section>
          <% end %>
        </ul>
      </section>
    <% end %>
  </section>
  <% else %>
    <%= button_to "Connect to GitHub", 'auth/github', class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
