<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <h3>Bookmarked Segments</h3>
  <% @bookmarks.each do |bookmark| %>
    <h2>Tutorial <%= bookmark[0] %></h2>
    <% bookmark[1].each do |bookmark_array| %>
    <%= bookmark_array.title %>
    <br>
    <% end %>
      <br><br>
  <% end %>


  <% if @current_user.github_token? %>
    <h3>Github Section</h3>
    <h4>Repos</h4>
    <section class ="github">
      <% repos.each do |repo| %>
        <p class="repo_name_and_link"><%= link_to repo.name, repo.url %></p>
      <% end %>

    <h4>Followers</h4>
      <% followers.each do |follower| %>
        <p class="followers_name_and_link"><%= link_to follower.name, follower.url %></p>
      <% end %>

    <h4>Followed Accounts</h4>
      <% followed_accounts.each do |followed_account| %>
        <p class="following_name_and_link"><%= link_to followed_account.name, followed_account.url %></p>
      <% end %>
    </section>
  <% else %>
    <div class="btn btn-primary mb1 bg-teal">
      <%= link_to "Connect to Github", github_login_path %>
    </div>
  <% end %>
</section>
