<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if @facade %>
    <section class="github">
      <h2>Github</h2>
      <ul>
        <% @facade.repos(5).each do |repo| %>
          <li class="repository">
            <%= link_to repo.name, repo.html_url, class: "name-link" %>
          </li>
        <% end %>
      </ul>
      <h3>Followers</h3>
      <ul>
        <% @facade.followers.each do |follower| %>
          <li class="follower"></li>
        <% end %>
      </ul>
    </section>
  <% end %>
</section>
