<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <h3>Bookmarked Segments</h3>
  <% @bookmarks.each do |bookmark| %>
    <h2>Tutorial <%= bookmark[0] %></h2>
    <% bookmark[1].each do |bookmark_array| %>
    <%= bookmark_array.title %>
    <br>
    <% end %>
      <br><br>
  <% end %>


  <% if @current_user.github_token? %>
    <h3>Github Section</h3>
    <h4>Repos</h4>
    <section class ="github">
      <% repos.each do |repo| %>
        <p class="repo_name_and_link"><%= link_to repo.name, repo.url %></p>
      <% end %>

    <h4>Followers</h4>
      <% followers.each do |follower| %>
        <td class="followers_name_and_link"><%= link_to follower.name, follower.url %></td>
        <% if (find_associated_user(follower.uid).nil? == false) && (find_associated_user(follower.uid).github_username?) && (find_associated_user(follower.uid).github_username == follower.uid) %>
          || <%= button_to "Add as Friend", "/user/#{@current_user.id}/friendships/#{find_associated_user(follower.uid).id}", method: 'post' %>
        <% end %>
        <br>
      <% end %>

    <h4>Followed Accounts</h4>
      <% followed_accounts.each do |followed_account| %>
        <td class="following_name_and_link"><%= link_to followed_account.name, followed_account.url %></td>
        <% if (find_associated_user(followed_account.uid).nil? == false) && (find_associated_user(followed_account.uid).github_username?) && (find_associated_user(followed_account.uid).github_username == followed_account.uid) %>
          || <%= button_to "Add as Friend", "/user/#{@current_user.id}/friendships/#{find_associated_user(followed_account.uid).id}", method: 'post' %>
        <% end %>
        <br>
      <% end %>
      <% if @current_user.friendships != [] %>
      <h4>My Friends</h4>
        <% @current_user.friendships.each do |friendship| %>
        <%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
      <% end %>
    <% end %>
    </section>
  <% else %>
    <div class="btn btn-primary mb1 bg-teal">
      <%= link_to "Connect to Github", github_login_path %>
    </div>
  <% end %>
</section>
