<section class="dashboard-main">
  <h5> Logged in as <%= current_user.first_name %></h5>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h4>Account Details</h4>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>

    <%= link_to "Send an Invite", "/invite", method: :get %>
    <h4>Bookmarked Segments</h4>
  </section>
<%= button_to "Connect to Github", github_login_path %>
<% if current_user.github_token %>
  <h4>Github</h4>
  <section id="github">
    <% user_find.repos.each do |repo| %>
    <section id="repo">
      <p><%= link_to repo.name, repo.html %></p>
    </section>
    <% end %>
  </section>
  <h4>Followers</h4>
  <section id="followers">
    <% user_find.followers.each do |follower| %>
      <p><%= link_to follower.name, follower.profile_path %></p>
      <% if follower.with_us %>
        <p><%= button_to "Add Friend", "/friendships/#{follower.id}", method: :post %></p>
      <% end %>
    <% end %>
  </section>
  <h4>Following</h4>
  <section id="following">
    <% user_find.following.each do |follow| %>
      <p><%= link_to follow.name, follow.profile_path %></p>
         <% if follow.with_us %>
         <p><%= button_to "Add Friend", "/friendships/#{follow.id}", method: :post %></p>
         <% end %>
    <% end %>
  </section>
<% end %>
<h4>Friends</h4>
  <section id="friends">
  <% user_find.friends.each do |friend| %>
  <p><%= friend.github_username %></p>
  <% end %>
  </section>
</section>
