<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <% if current_user.account_registered? %>
    <p> Status: Active </p>
  <% else %>
    <h3> This account has not yet been activated. Please check your email. </h3>
  <% end %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <% if current_user.github_token? %>
    <section class="invite-guest">
      <%= link_to "Send an Invite", invite_path %>
    <% unless current_user.friendship_users.empty? %>
    <section class="friends">
      <h3> Friends </h3>
      <% current_user.friendship_users.each do |user|%>
        <%= user.first_name%>
      <% end %>
    </section>
    <% end %>
  <h3>Github</h3>
    <h4>Github Repositories</h4>
    <section class="github-repositories">
      <ul>
      <% @facades.repo_data.each do |repo| %>
        <li><%= link_to repo.name, repo.html_url %></li>
      <% end %>
    </ul>
    </section>
    <h4>Followers</h4>
    <section class="github-followers">
      <ul>
      <% @facades.follower_data.each do |follower| %>
        <section id="follower-<%= follower.github_id %>">
        <li><%= link_to follower.login, follower.html_url %>
          <% if follower.show_add_friend_button? %>
            <%= button_to "Add Friend", "/friendships/#{current_user.id}/#{follower.github_id}" %>
          <% end %>
        </li>
        </section>
      <% end %>
    </ul>
    </section>
    <h4>Following</h4>
    <section class="github-following">
      <ul>
      <% @facades.following_data.each do |following| %>
        <section id="following-<%= following.github_id %>">
        <li><%= link_to following.login, following.html_url %>
          <% if following.show_add_friend_button? %>
            <%= button_to "Add Friend", "/friendships/#{current_user.id}/#{following.github_id}" %>
          <% end %>
        </li>
        </section>
      <% end %>
    </ul>
    </section>
  <% else %>
    <section class="authorize-github">
      <%= button_to "Connect to Github", github_login_path %>
    </section>
  <% end %>
  <section class="bookmark">
    <h1>Bookmarked Segments</h1>
      <% if @facades.bookmarked_videos? %>
        <% @facades.tutorial_video_objects.each do |tutorial, videos| %>
          <section id="tutorial-<%= tutorial.id %>">
            <h4><%= tutorial.title %></h4>
              <% videos.each do |video| %>
                <ul><li><%= link_to video.title, "/tutorials/#{tutorial.id}?video_id=#{video.id}" %></li></ul>
            <% end %>
        </section>
        <% end %>
    <% else %>
      <p> Your bookmarked videos will appear here! </p>
    <% end %>
  </section>
</section>
