<section class="dashboard-main">
  <h1> <%= user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= user.first_name  %> <%= user.last_name %> </li>
    <li> <%= user.email%> </li>
  </ul>
  <section>
    <h1>Github Repositories</h1>
    <% if user.token %>
      <% user.repos.each do |repo| %>
        <%= link_to repo.name.capitalize, repo.url, class: 'github-repo' %>
      <% end %>
    <% else %>
      <p>You are not connected through GitHub!</p>
      <%= button_to 'Connect to Github', "/auth/github", class: 'btn btn-primary mb1 bg-teal' %>
    <% end %>
  </section>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
