<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%=button_to 'Activate Your Account', notification_path, class: "mt2 btn btn-primary mb1 bg-teal" unless current_user.active %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  <% if current_user.active %>
    <li>Status: Active</li>
  <% end %>
  </ul>

    <% if github_status && current_user.token %>
    <h1>Github Details:</h1>
      <h2>Personal Repos:</h2>
      <% github_result.display_repos.each do |repo| %>
      <section class="repos">
      <p class="name"><%= link_to repo.name, repo.url%></p>
      </section><br>
      <% end %>
  <section class="github_following">

      <h2>Following On Github</h2>
      <% github_result.display_following.each do |following| %>
        <section class="following">
          <p class="name"><%= link_to following.name, following.url%></p>
        </section>
      <% end %>
    </section>
    <section class="github_followers">
      <table>
        <th> <h2>Followers On Github</h2> </th><th></th>
        <% github_result.display_followers.each do |follower| %>
          <section class='followers'>
            <tr><td><p class='name'><%= link_to follower.name, follower.url %></p></td>
                <td><%=link_to "Friend this User", friendships_path(follower.u_id), method: :post if follower.user_exists %></td>
            </tr>
          </section>
        <% end %>
      </table>
    </section>

    <section class="friends">
      <% if current_user.find_friends %>
      <% current_user.find_friends.each do |friend|  %>
        <%= friend.first_name %><%=friend.last_name %>
      <% end %>
    <% end %>
    </section>

    <section>
    <% else %>
      <%=button_to 'Connect To Github', github_login_path, method: :get, class: "mt2 btn btn-primary mb1 bg-teal" %>
    <% end %>

    <h1>Bookmarked Segments</h1>
  </section>
</section>
