<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if current_user.github_token %>
    <section id="github">
      <h1>Github</h1>
      <ul>
      <% facade.repositories.each do |repository| %>
        <li class="repo"><%= link_to repository.name, repository.url %></li>
      <% end %>
      </ul>
    </section>
  <% end %>
</section>
