<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>

  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <% if current_user.token %>
    <div class="github">
      <h3>Github Info</h3>
      <ul class="github-repos">
        <h4>Github Repos</h4>
        <% facade.repos.each do |repo| %>
        <li class="repo"><%= link_to repo.name, repo.url %></li>
        <% end %>
      </ul>
      <ul class="github-followers">
        <h4>Github Followers</h4>
        <% facade.followers.each do |follower| %>
        <li class="follower"><%= link_to follower.handle, follower.url %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
