<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
<% if current_user.github_token %>
  <h3>Github</h3>
  <section id="github">
    <% user_git.repos.each do |repo| %>
    <section id="repo">
      <p><%= link_to repo.name, repo.html %></p>
    </section>
    <% end %>
  </section>
  <h5>Followers</h5>
  <section id="followers">
    <% user_git.followers.each do |follower| %>
      <p><%= link_to follower.name, follower.profile_path %></p>  
    <% end %>
  </section>
<% end %>
</section>
