<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <%= button_to "Connect to Github", github_connect_path %>

  <% if current_user.access_token %>
    <section id="Github">
      <h1>Github</h1>
      <section id="repositories">
        <% facade.repositories.each do |repo| %>
          <ul class="repository">
            <li class="name"><%= link_to repo.name, "https://github.com/#{repo.full_name}" %></li>
          </ul>
        <% end %>
      </section>
      <section id="followers">
        <h2>Followers</h2>
        <% facade.followers.each do |follower| %>
          <ul class="follower">
            <li class="handle"><%= link_to follower.handle, "https://github.com/#{follower.handle}" %></li>
          </ul>
        <% end %>
      </section>
      <section id="following">
        <h2>Following</h2>
        <% facade.following.each do |user| %>
          <ul class="user">
            <li class="handle"><%= link_to user.handle, "https://github.com/#{user.handle}" %></li>
          </ul>
        <% end %>
      </section>
    </section>
  <% end %>
</section>
