<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
    <% if current_user.token %>
      <% github_result.display_repos.each do |repo| %>
      <section class="repos">
      <p class="name"><%= link_to repo.name, repo.url%></p>
      </section>
      <% end %>
  <section>
      <% github_result.display_following.each do |following| %>
        <section class="following">
          <p class="name">  </p>
        </section>
      <% end %>
    <% end %>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
