<section class="dashboard-main">
  <h1> <%= @user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out',
                logout_path,
                method: 'delete',
                class: "btn btn-primary mb1 bg-teal" %>

  <%= link_to 'Connect to GitHub',
                '/auth/github',
                class: 'link-button' unless @user.github_token %>

  <%= button_to 'Disconnect GitHub Account',
                "/users/#{@user.id}",
                :method => :patch if @user.github_token %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= @user.first_name  %> <%= @user.last_name %> </li>
    <li> <%= @user.email %> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if @user.github_token %>
  <section>
    <h1>Github</h1>
      <section id='repos'>
        <h2>Your GitHub Repos</h2>
        <ul>
          <% @user.github_repos.each do |repo| %>
            <li><%= link_to repo.name, repo.url %></li>
          <% end %>
        </ul>
      </section>
      <section id='followers'>
        <h2>Your Followers</h2>
        <ul>
        <% @user.github_followers.each do |follower| %>
          <li id="follower-<%= follower.github_id %>"><%= link_to follower.name, follower.url %></li>
        <% end %>
        </ul>
      </section>

      <section id='following'>
        <h2>Following</h2>
        <ul>
        <% @user.github_following.each do |followee| %>
          <li id="followee-<%= followee.github_id %>"><%= link_to followee.name, followee.url %></li>
        <% end %>
        </ul>
      </section>
  </section>
<% end %>
</section>
