<section class='dashboard-main'>
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
  <% if current_user.access_token == nil %>
    <%= link_to 'Connect to Github', github_login_path %>
  <% end %>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: 'btn btn-primary mb1 bg-teal' %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if current_user.access_token != nil %>
    <section class='github-repos'>
      <h3>Github</h3>
      <ul>
      <% facade.repos(5).each do |repo| %>
          <li class='repo'>
            <%= link_to repo.name, repo.html_url  %>
          </li>
      <% end %>
    </ul>

    </section>

    <section class='github-followers'>
      <h3>Followers</h3>
      <ul>
      <% facade.followers.each do |follower| %>
          <li class='follower' id='<%= follower.login %>'>
            <%= link_to follower.login, follower.html_url %>
            <% if follower.registered? %>
            :  <%= button_to 'Add as Friend', friendship_path(user_id: current_user.id, friend_login: follower.login) %>
            <% end %>
          </li>
      <% end %>
    </ul>
    </section>

    <section class='github-followings'>
      <h3>Following</h3>
      <ul>
      <% facade.followings.each do |following| %>
          <li class='following' id='<%= following.login %>'>
            <%= link_to following.login, following.html_url %>
            <% if follower.registered? %>
            :  <%= button_to 'Add as Friend', friendship_path(user_id: current_user.id, friend_login: follower.login) %>
            <% end %>
          </li>
      <% end %>
    </ul>
    </section>

    <% if current_user.friendships? %>
      <section class='friends'>
        <h3>Your Friends</h3>
        <ul>
          <% current_user.friendships.each do |friendship| %>
            <li class='friend' id='<%= friendship.friend_login %>'>
              <%= friendship.friend_login %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  <% end %>
</section>
