<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <section>
    <% if @repos %>
      <h1> GitHub Section </h1>
      <li> <%= @repos.count  %> Repos</li>
      <div class="top5repos">
        <% @repos.each do |repo| %>
        <li id=<%= repo.url %>> <%= repo.url %> </li>
        <% end %>
      </div>
    <% end %>
  </section>
</section>
