<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

<%= button_to "Connect to Github", github_login_path, class: "btn btn-primary mb1 bg-teal" %>

<% if current_user.github_token == nil %>
  <h3> You have no bookmarked sections </h3>
<% else %>
  <% @user_facade %>
    <section>
      <h1>Bookmarked Segments</h1>
    </section>
    <section class="bookmarked_videos">
      <h2>Bookmarked Videos</h2>
      <ul>
        <% @bookmarked_videos.each do |video| %>
        <li><%= video.title %></li>
        <% end %>
      </ul>
    </section>
    <section class="github-list">
      <h2>Github Repos</h2>
      <ul>
        <% @user_facade.find_all_repos.each do |repo| %>
          <li><%= link_to "#{repo.name}", "#{repo.html_url}", class: "repository"%></li>
        <% end %>
      </ul>
    </section>

    <section class="following-list">
      <h2>Following</h2>
      <% @user_facade.find_all_following.each_with_index do |follow, index| %>
        <div class="follow-<%= index %>" >
        <li><%= link_to "#{follow.login}", "#{follow.html_url}", class: "following"%></li>
            <% if follow.user %>
              <%= link_to "Add as Friend", user_friendships_path(follow.user.id), :method => :post %>
            <% end %>
        </div>
      <% end %>
    </section>

    <section class="followers-list">
      <h2>Followers</h2>
      <% @user_facade.find_all_followers.each_with_index do |follower, index| %>
        <div class="follower-<%= index %>" >
          <li><%= link_to "#{follower.login}", "#{follower.html_url}", class: "follower"%></li>
          <% if follower.user %>
            <li><%= link_to "Add as Friend", user_friendships_path(follower.user.id), :method => :post %></li>
          <% end %>
      <% end %>
    </section>
<% end %>
