<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section class="bookmarks">
    <h1>Bookmarked Segments</h1>
    <% if current_user.videos.count > 0 %>
      <% @bookmarkings.each do |vid| %>
        <h4><%= vid.tutorial.title %>: <%= link_to vid.title, "/tutorials/#{vid.tutorial_id}/videos/#{vid.id}" %></h4><br>
      <% end %>
    <% else %>
      <h3>You have no bookmarks yet.</h3>
      <h3>Explore videos <%= link_to "here", "/" %></h3>
    <% end %>
  </section>
  <h1>Github</h1>
  <% if @repos %>
    <section class="github">
      <h2>Github Repositories</h2>
      <% @repos.each do |repo| %>
        <section class="repos">
          <%= link_to repo.name, repo.link %>
        </section>
      <% end %>

      <h2>Followers</h2>
      <% @followers.each do |follower| %>
        <section  class = "followers">
          <%= link_to follower.name, follower.link %>
        </section>
      <% end %>

        <h1>Following</h1>
        <% @following.each do |following| %>
        <section class="following">
            <%= link_to following.name, following.link %>
          </section>
        <% end %>
    </section>
  <% else %>
  <h3><%= link_to "Login Through Github", github_login_path %></h3>
  <% end %>
</section>
