<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if current_user.token != '0' %>
    <h1><%= current_user.username %>'s Github</h1>
    <section id='github-repos'>
      <h3> Repos </h3>
      <% current_user.repos.each do |link| %>
        <%= link_to "#{link}", "https://github.com/#{link}" %>
        <p></p>
      <% end %>
    </section>

    <section id='github-followers'>
      <h3> followers </h3>
      <% current_user.followers.each do |follower| %>
        <%= link_to "#{follower}", "https://github.com/#{follower}" %>
        <% if current_user.github?(follower) %>
          <%= link_to "Friend", "/friend/#{follow}", method: :patch %>
        <% end %>
        <p></p>
      <% end %>
    </section>

    <section id='github-following'>
      <h3> Following </h3>
      <% current_user.following.each do |follow| %>
        <%= link_to "#{follow}", "https://github.com/#{follow}" %>
        <% if current_user.github?(follow) %>
          <%= link_to "Friend", "/friend/#{follow}", method: :patch %>
        <% end %>
        <p></p>
      <% end %>
    </section>

  <% else %>
    <%= link_to "Connect to Github", (:github_login) %>
  <% end %>
  <section>
    <h1>Friends</h1>
    <% current_user.friends.each do |friend| %>
      <p><%= friend%> </p>
    <% end %>
  </section>
</section>
