<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <% <% unless current_user.activate %>
    <h3> "This account is not yet activate. Please check your email"</h3>
  <% end %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  
  <section>
    <h1>Bookmarked Segments</h1>
    <% facade.bookmarks.each do |bookmark| %>
      <h3> <%= bookmark.title %> </h3>
      <section> 
        <ul class="tutorial">
          <% bookmark.videos.each do |video|%>
            <li class="bookmark" id="bookmark-#{video.title}"> 
              <p> <%= video.title %> </p>
            </li>
            <% end %>
        </ul>
      </section>
    <% end %>
  </section>

  <% if current_user.github_token.nil? %>
    <p> <%= button_to 'Connect to Github', github_login_path, method: :get, class: "btn btn-primary" %> </p>
  <% else %>
  <section>
    <h1> Github </h1>

      <% facade.repositories.each do |repository|%>
        <ul class="repository">
          <li class="name" id="repository-#{repository.name}"> <%=repository.name %> </li>
        </ul>
      <% end %>
    </section>

    <section>
      <h3> Followers </h3>
      <% facade.followers.each do |follower| %>
        <ul class="follower">
          <li class="login" id="follower-#{followers.login}"> 
            <%= link_to follower.login, follower.url %> 
            <% if follower.user_id %>
              <%= button_to "Add as Friend", friendships_path(follower), class: "btn btn-primary add_friend"%>
            <% end %>
          </li>
        </ul>
      <% end %>
    </section>

    <section>
      <h3> Following </h3>
      <% facade.following.each do |follow| %>
        <ul class="follow">
          <li class="login" id="follow-#{follow.login}">
            <%= link_to follow.login, follow.url %> 
            <% if follow.user_id %>
              <%= button_to "Add as Friend", friendships_path(follow), class: "btn btn-primary add_friend"%>
            <% end %>
          </li>
        </ul>
      <% end %>
    </section>

    <section>
      <h1> Friends </h1>
      <% facade.friends.each do |friend| %>
        <ul>
          <li id="friend-#{friend.login}">
            <%= link_to friend.login, friend.url %>
          </li>
        </ul>
      <% end %>
    </section>

  <% end %>
</section> 
