<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%= link_to 'Connect to Github', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <h1>Github Information</h1>
  <% if current_user.token != nil %>
  <section id="repos">
    <h1>Github Repos</h1>
    <% current_user.repositories.each do |repo|  %>
      <ul id="dot"><%= link_to "#{repo[:name]}", repo[:link] %></ul>
    <% end %>
  </section>
  <section>
    <h1>Github Followers</h1>
    <% current_user.git_followers.each do |user| %>
      <p>User: <%= "#{user[:name]}" %><br>
      Handle: <%= link_to "#{user[:link]}", user[:link] %></p>
      <% if user[:github_id] %>
      <div id="add_friend_followers"><%= button_to "Add Friend", '/add_friend', method: :patch, params: {friend_id: user[:github_id]} %></div>
      <% end %>
    <% end  %>
    <h1>Github Following</h1>
    <% current_user.git_following.each do |user| %>
      <p>User: <%= "#{user[:name]}" %><br>
      Handle: <%= link_to "#{user[:link]}", user[:link] %></p>
      <% if user[:github_id] %>
      <div id="add_friend_following"><%= button_to "Add Friend", '/add_friend', method: :patch, params: {friend_id: user[:github_id]} %></div>
      <% end %>
    <% end  %>
  </section>
  <% end %>
</section>

<h1>Turotial Friends</h1>
<% if current_user.token != nil %>
<section id='tutorial_following'>
  <h1>Following</h1>
  <% current_user.followees.each do |user| %>
    <ul>Name: <%= user.first_name %></ul>
  <% end %>
</section>
<% end %>
