<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <% if current_user.activated %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li> Status: Active </li>
  </ul>
  <% if !@results.nil? %>
    <section class="github"><h3>Github</h3>
      <%= button_to 'Send an Invite', invite_path, method: 'get', class: "btn btn-primary mb1 bg-teal" %>
    <% @repos.each do |resp| %>
      <%= link_to resp.name, resp.html_url %><br/>
    <% end %>
    <section>
      <h3>Followers</h3>
    <% @followers.each do |resp| %>
      <section class = "follower-<%= resp.login %>">
      <%= link_to resp.login, resp.html_url %>
      <% if User.github_usernames.include?(resp.login) %>
      <%= button_to "Add as Friend", user_friends_path(current_user.id, params: {github_username: resp.login}), method: :post %><br/>
      <% end %>
    </section>
    <% end %>
      <h3>Following</h3>
    <% @following.each do |resp| %>
    <section class = "following-<%= resp.login %>">
      <%= link_to resp.login, resp.html_url %>
      <% if User.github_usernames.include?(resp.login) %>
      <%= button_to "Add as Friend", user_friends_path(current_user.id, params: {github_username: resp.login}), method: :post %><br/>
      <% end %>
    </section>
    <% end %>
  </section>
  <section class = "friends">
  <h1>Friends</h1>
  <% current_user.friendships.each do |friendship|  %>
  <%= friendship.friend.github_username %>
  <% end %>
  </section>
    </section>
  <% else %>
    <%= button_to 'Connect to Github', auth_github_path, method: 'get', class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  <section>
    <h1>Bookmarked Segments</h1>
    <% @bookmarks.each do |tutorial_id, videos| %>
      <section class="tutorial-<%= tutorial_id %>-bookmarks">
        <h3> <%= tutorial_name(tutorial_id) %></h3>
        <% videos.each do |video| %>
          <%= link_to video.title, tutorial_video_path(id: video.id, tutorial_id: tutorial_id) %><br/>
        <% end %>
      </section>
    <% end %>
  </section>
  <% else %>
  <p> Logged in as <%= current_user.first_name  %> <%= current_user.last_name %> <br/>
      This account has not yet been activated. Please check your email.</p>
  <% end %>
</section>
