<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <%= link_to "Connect to Github", "/auth/github", class: "btn btn-primary mb1 bg-teal" %>
  <% if !current_user.token.nil? %>
    <section>
      <h1>Github</h1>
      <% facade.github_repos.each do |repo| %>
      <ul class="repo">
          <li class="repo_name"> <%= link_to repo.name, repo.html_url %></li>
        </ul>
        <% end %>
      </section>
      <section class="followers">
        <h1>Followers</h1>
        <% facade.github_followers.each do |follower| %>
        <ul>
          <li class="follower_name"><%= link_to follower.login, follower.html_url %>
            <%= link_to "Add as a Friend", friendships_path(follower.id) %>
        </ul>
        <% end %>
      </section>
      <section class="following">
        <h1>Following</h1>
        <% facade.github_following.each do |following| %>
        <ul>
          <li class="following_name"><%= link_to following.login, following.html_url %>
            <%= link_to "Add as a Friend", friendships_path(following.id) %>
        </ul>
          <% end %>
        </section>
  <% end %>
</section>
