<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if current_user.gh_token %>
    <section>
      <h3>Github</h3>
      <section class= 'repos'>
        <h4>Your Github Repos</h4>
        <% github_facade.repos.each do |repo| %>
            <p>Name: <%= link_to repo.name, repo.html_url %></p>
        <% end %>
      </section>
      <section class= 'followers'>
        <h4>Your Github Followers</h4>
        <% github_facade.following.each do |user| %>
            <p>Name: <%= link_to user.name, user.link %></p>
            <%= image_tag user.picture %>
        <% end %>
      </section>
      <section class= 'following'>
        <h4>Github Users You Follow</h4>
        <% github_facade.followers.each do |user| %>
            <p>Name: <%= link_to user.name, user.link %></p>
            <%= image_tag user.picture %>
        <% end %>
      </section>
    </section>
    <% else %>
      <%= link_to "Connect to Github", "/auth/github", method: :get, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
