<section class="dashboard-main">
  <h1> <%= user_facade.user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= user_facade.user.first_name  %> <%= user_facade.user.last_name %> </li>
    <li> <%= user_facade.user.email%> </li>
  </ul>
  <% if !user_facade.user.connected? %>
    <%= link_to 'Connect to Github', github_info_path, method: 'get', class: "btn btn-primary mb1 bg-teal" %>
  <% else %>
    <section class='github-info'>
      <h1>Github</h1>
      <section class='user-repos'>
        <h3>Repos</h3>
        <% user_facade.repos.each do |repo| %>
          <p><%= link_to repo.name, repo.link %></p>
        <% end %>
      </section>
      <section class='user-followers'>
        <h3>Followers</h3>
        <% user_facade.followers.each do |follower| %>
          <p><%= link_to follower.handle, follower.link %></p>
        <% end %>
      </section>
      <section class='user-followings'>
        <h3>Following</h3>
        <% user_facade.followings.each do |following| %>
          <p><%= link_to following.handle, following.link %></p>
        <% end %>
      </section>
    </section>
  <% end %>
  <section>
    <h1>Bookmarked Segments</h1>

      <% user_facade.user.order_videos.each do |tut, video_arr| %>
        <section class="tutorial-<%= tut.id %>">
          <h3><%= tut.title %></h3>
            <% video_arr.each_with_index do |vid, index| %>
              <section class="video-pos-<%= index %>">
                <%= link_to vid.title, tutorial_path(id: vid.tutorial_id, video_id: vid.id) %><br>
              </section>
            <% end %>
        </section>
      <% end %>
  </section>
  </section>
