<section class="dashboard-main">
  <h1> <%= search_results.user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <% if !search_results.user.github_token && !search_results.user.admin? %>
    <section id='github-button'>
      <%= button_to 'Connect to GitHub', github_login_path, method: 'get', class: "btn btn-primary mb1 bg-teal" %>
      <%= button_to 'Send an Invite', invite_path, method: 'get', class: "btn btn-primary mb1 bg-teal" %>
    </section>
  <% end %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= search_results.user.first_name  %> <%= search_results.user.last_name %> </li>
    <li> <%= search_results.user.email%> </li>
    <li>Status: <%= search_results.user.status %> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if search_results.user.github_token %>
    <section>
      <h1> GitHub </h1>
        <section class='github-repos'>
          <h3> Repos </h3>
            <% search_results.github_repos.each do |repo| %>
            <ul class='repo'>
              <li class='name'> <%= link_to repo.name, repo.html_url %> </li>
            </ul>
          <% end %>
        </section>
        <section class='github-following'>
          <h3> Following </h3>
            <% search_results.github_followings.each do |following| %>
              <ul class='following'>
                <li class='login'> <%= link_to following.login, following.html_url %></li>
                <% if search_results.account?(following) && following.not_already_a_friend_of(search_results.user) %>
                  <%= button_to 'Add as Friend', friendships_path(:friend_id => following.id), method: :post, class: "btn btn-primary mb1 bg-teal" %>
                <% end %>
              </ul>
            <% end %>
        </section>
        <section class='github_followers'>
          <h3> Followers </h3>
          <% search_results.github_followers.each do |follower| %>
            <ul class='followers'>
              <li class='login'> <%= link_to follower.login, follower.html_url %>
                <% if search_results.account?(follower) && follower.not_already_a_friend_of(search_results.user) %>
                  <%= button_to 'Add as Friend', friendships_path(:friend_id => follower.id), method: :post, class: "btn btn-primary mb1 bg-teal" %>
                <% end %>
              </li>
            </ul>
          <% end %>
        </section>
    </section>
    <section id='friends'>
      <h1>Friends</h1>
        <% search_results.user.friends.each do |friend| %>
          <ul class='friendling'>
            <li class='friend'><%= friend.handle %></li>
          </ul>
        <% end %>
    </section>
  </section>
  <% end %>
