<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

    <section>
      <%= button_to 'Connect to Github', github_login_path %>
    </section>

  <% if current_user.github_token %>
    <h4>Github Repo's</h4>
    <section id="Github">
      <% user_repos.limit_five.each_with_index do |repo, index| %>
      <section id="repo-<%= index %>">
        <p><%= link_to repo.name, repo.html_url %></p>
      </section>
      <% end %>
    </section>
    <h4>Followers</h4>
    <section id="Followers">
      <% user_info.all_followers.each_with_index do |follower, index| %>
      <section id="follower-<%= index %>">
        <p><%= link_to follower.login, follower.html_url %></p>
      </section>
      <% end %>
    </section>
    <h4>Following</h4>
    <section id="following">
      <% user_info.following.each_with_index do |user, index| %>
      <section id="follow-<%= index %>">
        <p><%= link_to user.login, user.html_url %></p>
      </section>
      <% end %>
    </section>
    <section>
      <h1>Bookmarked Segments</h1>
    </section>
  </section>
<% end %>
