<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section class ='repo'>
    <% if @user.token == nil %>
      <p>No github stuff</p>
    <% else %>
    <h1><%= @repos.count %> Recent Repos</h1>
      <% @repos.each do |repo| %>
        <ul>
          <li><a href= "<%= repo.url %>"><%= repo.name %></li></a>
        </ul>
      <% end %>
      <section class="github_followers">
        <h1><%= @followers.length %> Followers</h1>
        <% @followers.each do |follower| %>
        <section id="follower">
          <ul>
            <li><a href= "<%= follower.url %>"> <%= follower.login %></li>
            </ul>
          </section>
          <% end  %>
        </section>
    <% end %>
  </section>
</section>
