<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if current_user.github_token %>
  <section id="github">
    <h1>Github Repositories</h1>
    <% @facade.user_repos(5).each_with_index do |repo, index| %>
    <div class="repository" id="repo-<%= index %>">
      <a class="repo-link" href="<%= repo.url %>">
        <p><%= repo.name %></p>
      </a>
    </div>
    <% end %>
    <h1>Github Followers</h1>
    <div id="followers">
      <% @facade.user_followers.each do |follower| %>
      <div class="follower">
        <a href="<%= follower.url %>" class="user-link">
          <p><%= follower.handle %></p>
        </a>
      </div>
      <% end %>
    </div>
    <h1>Following on Github</h1>
    <div id="followings">
      <% @facade.user_followings.each do |following| %>
      <div class="following">
        <a href="<%= following.url %>" class="user-link">
          <p><%= following.handle %></p>
        </a>
      </div>
      <% end %>
    </div>
  </section>
  <% end %>
</section>
