<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <% if @search_github %>
      <div class="github">
        <h1>Github</h1>
          <% @search_github.repos.each do |repo| %>
            <div class="repo">
              <%= link_to repo.name, repo.url, class: "name" %>
            </div>
          <% end %>
          <div class="followers">
            <h2>Followers</h2>
            <% @search_github.followers.each do |follower| %>
              <div class="follower">
                <h3>Username <%= link_to follower.name, follower.url %></h3>
              </div>
            <% end %>
          </div>
          <div class="following">
            <h2>Following</h2>
            <% @search_github.following.each do |followee| %>
              <div class="followee">
                <h3>Username <%= link_to followee.name, followee.url %></h3>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </section>
</section>
