<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <section class="github">
    <section class="repos">
      <h1>User Repositories</h1>
      <% if facade.repos == nil %>
        No repos found
      <% else %>
        <ol>
          <% counter = 1 %>
          <% facade.repos.each do |repo| %>
            <li id="repo-<%= counter %>"><%= link_to repo.name, repo.url %></li>
            <% counter += 1 %>
          <% end %>
        </ol>
      <% end %>
    </section>

    <section class="followers">
      <h1>User Followers</h1>
      <% if facade.followers == nil %>
        No followers found
      <% else %>
        <ol>
          <% counter = 1 %>
          <% facade.followers.each do |follower| %>
            <li id="follower-<%= counter %>"><%= link_to follower.name, follower.url %></li>
            <% counter += 1 %>
          <% end %>
        </ol>
      <% end %>
    </section>

  </section>
</section>
