<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if !current_user.friends_list.empty? %>
    <section class="friends">
      <h1>Friends</h1>
      <% current_user.friends_list.each do |friend| %>
        <ul>
          <li><%= friend.first_name %></li>
        </ul>
      <% end %>
    </section>
  <% end %>

  <% if github_token %>
    <section class="github">
      <h1>Github</h1>

      <h3>Repos</h3>
      <% github.repos.each do |repo| %>
      <ul>
        <li><%= link_to repo.name, repo.html_url %></li>
      </ul>
      <% end %>

      <section class="followers">
        <h3>Followers</h3>
        <% github.followers.each do |follower| %>
        <ul>
          <% if follower.user? && !current_user.friended?(follower.user?) %>
            <li id="fr-<%= follower.login %>"><%= link_to follower.login, follower.url %><%= button_to 'Add Friend', add_friend_path(follower.user?) %></li>
          <% else %>
            <li id="fr-<%= follower.login %>"><%= link_to follower.login, follower.url %></li>
          <% end %>
        </ul>
        <% end %>
      </section>

      <section class="following">
        <h3>Following</h3>
        <% github.followings.each do |following| %>
        <ul>
          <% if following.user? && !current_user.friended?(following.user?)%>
            <li id="fg-<%= following.login %>"><%= link_to following.login, following.url %><%= button_to 'Add Friend', add_friend_path(following.user?) %></li>
          <% else %>
            <li id="fg-<%= following.login %>"><%= link_to following.login, following.url %></li>
          <% end %>
        </ul>
        <% end %>
      </section>
    </section>

  <% else %>
    <%= button_to 'Connect to Github', 'auth/github', method: 'get', class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
