<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <% if current_user && search_facade.repos %>
    <section class="repos">
    <p>Github Repositories: </p>
      <% search_facade.repos.each do |repo|%>
          <p>Repo Name: <%= link_to repo.name, repo.url %> </p>
      <% end %>
    </section>
  <% end %>
  <% if current_user && search_facade.followers %>
    <section class="followers">
    <p>Total Followers: <%= search_facade.followers.length %> </p>
    <p>Followers:  </p>
      <% search_facade.followers.each do |follower|%>
          <p><%= link_to follower.name, follower.url %> </p>
      <% end %>
    </section>
  <% end %>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
