<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

</section>
</br>
<% if !@git_repos.nil? %>
<section class="github"> <h2>Github Repos</h2>
  <ul>
      <% @git_repos.each do |repo| %>
        <li><%= link_to(repo.name, repo.url) %></li>
      <% end %></ul>
</section>
<% end %>
<% if !@git_followers.nil? %>
<section class="followers"> <h2>Github Followers</h2>
  <ul>
      <% @git_followers.each do |follower| %>
        <li><%= link_to(follower.login, follower.url) %></li>
      <% end %></ul>
</section>
<% end %>
<% if !@git_following.nil? %>
<section class="following"> <h2>Github Following</h2>
  <ul>
      <% @git_following.each do |following| %>
        <li><%= link_to(following.login, following.url) %></li>
      <% end %></ul>
</section>
<% end %>
