<% unless current_user.email_confirmed%>
<h3>Logged in as <%=current_user.email%></h3>
<h3> This account has not yet been activated. Please check your email.</h3>
<% else current_user.email_confirmed = true %>
<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
    <ul>
      <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
      <li> <%= current_user.email%> </li>
    </ul>

  <section>
    <h1>Bookmarked Segments</h1>
     <ul>
       <%  %>
       <% @tutorials.each do |tutorial| %>
       <li><%= tutorial.title %>
         <ul>
           <% x = tutorial.videos.select do |video| %>
           <% current_user.user_videos.pluck(:video_id).include?(video.id) %>
           <% end %>
           <%= x.map {|y| y.title }.join(", ") %>
         </ul>
       </li>
       <% end %>
     </ul>
  </section>

  <section>
    <h1><u>Github</u></h1>
      <% if current_user.github_value == nil %>
        <%= button_to "Connect to Github", github_login_path, method: :get %>
      <% end %>

      <% if current_user.github_value != nil %>

      <%= link_to "Send an Invite", invite_path %>

        <h3><u>Repos</u></h3>

        <ol>
          <% @user.repos.each do |repo|%>
            <li><%= link_to repo.name, repo.url %></li>
          <% end %>
        </ol>

    <h3><u>Followers</u></h3>
        <ol>
          <% @user.followers.each do |follower|%>
            <li> <%= link_to follower.login, follower.url %> </li>
            <% if current_user.handle_exists?(follower.login)  && !current_user.has_friend?(follower.login) %>
            <%= button_to "Add Friend", friendships_path(handle: follower.login) %>
            <% end %>
            <% end  %>
          </ol>

    <h3><u>Following</u></h3>
        <ol>
          <% @user.following.each do |following|%>
            <li><%= link_to following.login, following.url %></li>
            <% if current_user.handle_exists?(following.login) && !current_user.has_friend?(following.login) %>
            <%= button_to "Add Friend", friendships_path(handle: following.login) %>
            <% end %>
          <% end  %>
        </ol>
      <% end %>

      <h3><u>Friends</u></h3>


     <% current_user.friends.each do |friend| %>
     <ol>

       <li><%= friend.handle %> </li>
     </ol>
     <% end  %>


</section>
