<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <% if current_user.github_token %>
    <% if current_user && search_facade.repos %>
      <section class="repos">
      <p>Github Repositories: </p>
        <% search_facade.repos.each do |repo|%>
            <p>Repo Name: <%= link_to repo.name, repo.url %> </p>
        <% end %>
      </section>
    <% end %>
    <% if current_user && search_facade.followers %>
      <section class="followers">
      <p>Total Followers: <%= search_facade.followers.length %> </p>
      <p>Followers:  </p>
        <% search_facade.followers.each do |follower|%>
            <p><%= link_to follower.name, follower.url %>
            <% if follower.in_data %>
              <%=  button_to "Add Friend", "/friendships/#{follower.uid}", method: :post %></p>
            <% end %>
        <% end %>
      </section>
    <% end %>
    <% if current_user && search_facade.followers %>
      <section class="following">
      <h3>Total People Followed: <%= search_facade.following.length %> </h3>
      <h3>Following:  </h3>
        <% search_facade.following.each do |following|%>
            <p><%= link_to following.name, following.url %> </p>
        <% end %>
      </section>
    <% end %>
    <% if current_user && current_user.friends %>
      <section class="friends">
      <h3>Friends:  </h3>
        <% current_user.friends.each do |friend| %>
        <p><%= friend.username%></p>
        <% end %>
      </section>
    <% end %>
  <% end %>
    <section>
    <h3>Bookmarked Segments</h3>
    <% if current_user && current_user.bookmarked.length > 0 %>
      <section class="bookmarked">
        <% current_user.bookmarked.each do |video| %>
          <iframe src= <%="https://www.youtube.com/embed/#{video.video_id}" %>  width="450" height="300"></iframe>
        <% end %>
      </section>
    <% else %>
      <p>You do not currently have any bookmarked videos</p>
    <% end %>
  </section>
</section>
