<section class="dashboard-main">
  <h1> <%= user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= user.first_name  %> <%= user.last_name %> </li>
    <li> <%= user.email%> </li>
  </ul>
  <% if user.token %>
    <section id="repositories">
      <h2>Repositories</h2>
      <% if !user.repos.empty? %>
        <% user.repos.each do |repo| %>
          <%= link_to repo.name.capitalize, repo.url, class: 'github-repo' %>
        <% end %>
      <% else %>
        <p>You don't have any Github repositories</p>
      <% end %>
    </section>
    <section id="followers">
      <h2>Followers</h2>
      <% if !user.followers.empty? %>
        <% user.followers.each do |follower| %>
          <%= link_to follower.name.capitalize, follower.url, class: 'github-follower' %>
        <% end %>
      <% else %>
        <p>You don't have any Github followers</p>
      <% end %>
    </section>
    <section id="following">
      <h2>Following</h2>
      <% if !user.following.empty? %>
        <% user.following.each do |following| %>
          <%= link_to following.name.capitalize, following.url, class: 'github-following' %>
        <% end %>
      <% else %>
        <p>You aren't following anyone on Github</p>
      <% end %>
    </section>
  <% else %>
    <p>You are not connected through GitHub!</p>
    <%= button_to 'Connect to Github', "/auth/github", class: 'btn btn-primary mb1 bg-teal' %>
  <% end %>

  <section>
    <h2>Bookmarked Segments</h2>
  </section>
