<section class="dashboard-main">
  <h1> <%= facade.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= facade.first_name  %> <%= facade.last_name %> </li>
    <li> <%= facade.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% unless facade.token? %>
    <section class="github">
      <h1>Your Repositories</h1>
      <ul>
        <% facade.repos.each do |repo| %>
          <li><%= link_to repo.name, repo.url %></li>
        <% end %>
      </ul>
    </section>

    <section class="following">
      <h1>People you Follow</h1>
        <ul>
          <% facade.following.each do |user| %>
            <li><%= link_to user.username, user.github_url %>
            <% if user.linked_github? && user.not_friend?(current_user.id) %>
              <%= link_to 'Add Friend', users_add_friend_path(user.username) %>
            <% end %></li>
          <% end %>
        </ul>
    </section>

    <section class="followers">
      <h1>People who Follow you</h1>
        <ul>
          <% facade.followers.each do |user| %>
            <li><%= link_to user.username, user.github_url %>
            <% if user.linked_github? && user.not_friend?(current_user.id) %>
              <%= link_to 'Add Friend', users_add_friend_path(user.username) %>
            <% end %></li>
          <% end %>
        </ul>
    </section>
    <% else %>
      <%= link_to "Link your GitHub account", "/auth/github" %>
  <% end %>

  <section class="friends">
    <h1>People you have friended</h1>
    <ul>
      <% facade.friends.each do |friend| %>
        <li><%= friend.github_name %></li>
      <% end %>
    </ul>
  </section>
</section>
