<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if current_user.git_key %>
  <section class='github'>
    <h2>Github</h2>
    <h4>Repositories</h4>
      <div class='repositories'>
      <% facade.repos(5).each do |repo| %>
        <ul class='repository'>
          <li class='repo-link'><%= link_to repo.name, repo.url %></li>
        </ul>
      <%end%>
    </div>
    <h4>Followers</h4>
    <div class='followers'>
      <% facade.followers(5).each do |follower| %>
      <ul class='follower'>
        <li class='profile-link'><%= link_to follower.name, follower.url %></li>
      </ul>
        <% end %>
    </div>
  </section>
  <% end %>


</section>
