<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <h3>Account Details</h3>
    <ul>
      <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
      <li> <%= current_user.email%> </li>
    </ul>

  <section class='bookmarks'>
    <h1>Bookmarked Segments</h1>
		<% facade.bookmarks.each do |bookmark| %>
				<h3><%= bookmark.title %></h3>
				<section>
					<ul class="tutorial">
						<% bookmark.videos.each do |video| %>
							<li class="bookmark" id="bookmark-#{video.title}">
								<p><%= video.title %></p>
							</li>
						<% end %>
					</ul>
				</section>
    <% end %>
  </section>

	<%= render facade.partial, facade: facade %>

</section>
