<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%= button_to 'Connect to Github', connect_path, class: "btn btn-primary mb1 bg-teal" unless current_user.github_token%>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>

  <section class="bookmarked-segments">
    <h1>Bookmarked Segments</h1>
    <% facade.user_bookmarked_videos.each do |tutorial, videos| %>
      <article class="bookmarked-tutorial">
        <p><%= tutorial.title %></p>
        <ul>
          <% videos.each do |bookmark| %>
            <li class="bookmarked-video">
              <%= link_to bookmark.title, tutorial_path(bookmark.tutorial.id, video_id: bookmark.id) %>
            </li>
          <% end %>
        </ul>
      </article>
    <% end %>
  </section>

  <% if current_user.github_token %>
    <section class='github'>
      <h1>Github</h1>
      <section class="repositories"
        <h3>My Repositiories:</h3>
        <ul>
          <% facade.top_user_repos(5).each do |repo|  %>
            <li class = 'user_repo'>
            <%= link_to repo.name, repo.address, class: 'name' %> </li>
          <% end %>
        </ul>
      </section>
      <section class="followers"
        <h3>My Followers:</h3>
        <ul>
          <% facade.user_followers.each do |follower|  %>
            <li class="user_follower">
            <%= link_to follower.name, follower.address, class: 'name' %>
            <% if follower.registered_user? && follower.not_already_friend?(current_user) %>
              <%= button_to "Add as a Friend", new_friendship_path(user: current_user, friend: follower.id), class: 'btn btn-primary mb1 bg-teal friend-button' %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </section>
      <section class='users_followed'>
        <h3>Following</h3>
        <ul>
          <% facade.users_followed.each do |user_followed| %>
            <li class = 'following'>
            <%= link_to user_followed.name, user_followed.address, class:'handle' %>
            <% if user_followed.registered_user? && user_followed.not_already_friend?(current_user) %>
              <%= button_to "Add as a Friend", new_friendship_path(user: current_user, friend: user_followed.id), class: 'btn btn-primary mb1 bg-teal friend-button' %>
            <% end %> </li>
          <% end  %>
        </ul>
      </section>

      <section class='user-friendships'>
        <% if facade.user_friends.empty? %>
          <h3>You have not friended anyone yet.</h3>
        <% else %>
          <h3>Friends:</h3>
            <ul>
              <% facade.user_friends.each do |friend| %>
                <li class = 'friend'>
                <%= friend.first_name%> <%= friend.last_name %> </li>
              <% end %>
            </ul>
        <% end %>
      </section>

    </section>
  <% end %>
</section>
