<section class="dashboard-main">
  <section class='dashboard-top'>
    <h1> <%= current_user.first_name %>'s Dashboard </h1>

    <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
    <h4>Account Details</h4>
      <h5><%= current_user.first_name  %> <%= current_user.last_name %></h5>
      <h5><%= current_user.email%></h5>
    <section>
      <h4>Bookmarked Segments</h4>
    </section>
  </section>
  <% if current_user.gh_token %>
    <section id= 'gh-grid'>
      <h3 id='gh-title'>Github</h3>
      <hr>
      <section class= 'repos'>
        <h4>Repos</h4>
        <table class= 'github'>
          <% github_facade.repos.each do |repo| %>
            <tr>
              <td><%= link_to repo.name, repo.html_url %></td>
            </tr>
          <% end %>
      </table>
      </section>
      <section class= 'followers'>
        <h4>Followers</h4>
        <table class= 'github'>
        <% github_facade.following.each do |user| %>
          <tr>
            <td><%= image_tag user.picture, class: 'profile-image' %></td>
            <td><p><%= link_to user.name, user.link %></p></td>
          </tr>
        <% end %>
      </table class= 'github'>
      </section>
      <section class= 'following'>
        <h4>Following</h4>
        <table class= 'github'>
        <% github_facade.followers.each do |user| %>
          <tr>
            <td><%= image_tag user.picture, class: 'profile-image' %></td>
            <td><p><%= link_to user.name, user.link %></p></td>
          </tr>
        <% end %>
      </table>
      </section>
    </section>
    <% else %>
      <%= link_to "Connect to Github", "/auth/github", method: :get, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
</section>
